@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(250px); /* Move right initially */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}

.fade-in-right {
  animation: fadeInRight 1s ease-in-out; /* Animation properties */
}

.vertical-bar-dark {
  width: 24px; /* Thickness of the bar */
  height: 98%; /* Full height */
  background-color: #1D232A; /* Color of the bar */
  border-bottom-left-radius: 12px; /* Bottom-left corner */
  border-bottom-right-radius: 12px; /* Bottom-right corner */
}

.vertical-bar-light {
  width: 24px; /* Thickness of the bar */
  height: 98%; /* Full height */
  background-color: white; /* Color of the bar */
  border-bottom-left-radius: 12px; /* Bottom-left corner */
  border-bottom-right-radius: 12px; /* Bottom-right corner */
}

.stack-container {
  border-bottom-left-radius: 20px; /* Bottom-left corner */
  border-bottom-right-radius: 20px; /* Bottom-right corner */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.fade-in {
  opacity: 0;
  transform: translateY(-2000px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
