@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-in-left {
  animation: fadeInLeft 1s ease-in-out;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(250px); /* Move right initially */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at original position */
  }
}

.fade-in-right {
  animation: fadeInRight 1s ease-in-out; /* Animation properties */
}

.vertical-bar {
  width: 36px; /* Thickness of the bar */
  height: 98%; /* Full height */
  background-color: #1D232A; /* Color of the bar */
  border-bottom-left-radius: 12px; /* Bottom-left corner */
  border-bottom-right-radius: 12px; /* Bottom-right corner */
}

.stact-container {
  border-bottom-left-radius: 20px; /* Bottom-left corner */
  border-bottom-right-radius: 20px; /* Bottom-right corner */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

@keyframes fadeInDown {
    0% {
      opacity: 0;
      transform: translateY(-2000px); /* Start from above */
    }
    100% {
      opacity: 1;
      transform: translateY(0); /* End at the normal position */
    }
  }
  
  .fade-in-down-stack {
    animation: fadeInDown 1s ease-out forwards;
  }

  .fade-in-down-stack-tech {
    animation: fadeInDown 2s ease-out forwards;

  }


  .fade-in-down-stack-tech-image {
    animation: fadeInDown 3s ease-out forwards;

  }
